:root {
  --background-color: #2f303a;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --first-button-text-color: #212121;
  --second-button-text-color: #ffffff;
}

body {
  background-color: var(--second-button-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.logo-text {
  font-family: 'Raleway' sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}
.logo-accent {
  font-family: 'Raleway' sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link-nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.link-nav:hover,
.link-nav:focus,
.current {
  color: var(--accent-color);
}
.contacts-text {
  color: var(--second-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.contacts-text:hover,
.contacts-text:focus {
  color: var(--accent-color);
}

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  border: none;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--second-button-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button-current {
  color: var(--second-button-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.our-product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.our-product-type {
  color: var(--second-text-color);
}

.footer-background-color {
  background-color: #2f303a;
}
.address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--second-button-text-color);
}

.logo-accent-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  color: var(--second-button-text-color);
}
.contact-text-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*-------Стили index.html--------*/

.hero {
  background-color: var(--background-color);
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--second-button-text-color);
}

.main-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-button-text-color);
  background-color: var(--accent-color);

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.advantage-list {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}
.title {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team {
  background-color: #f5f4fa;
}
.team-title {
  font-size: 16px;
  line-height: 1.19;
}
.team-role {
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-text-color);
}
